<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/stylecontato.css')}}">
</head>
<body>
    
    <header>
        <img id="logo" src="/static/img/logo.png" alt="Logo">
        <div>
            <a class="" href="/">Home</a>
            <a class="" href="/sobre">Sobre Nós</a>
            <a class="links" href="/contato">Contato</a> 
        </div>
    </header>

    <div class="title">
        <h1>Entre em contato</h1>
            <div class="texts">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum cum placeat eos vitae, et, quos distinctio id
            </div>
    </div>

    <hr>

    <div class="inputs">
        <label>Seu e-mail:</label>
        <input type="text" name="texto"> 
    </div>
    <div class="inputs">
        <label>Assunto:</label>
        <input type="text" name="texto"> 
    </div>
    <div class="inputs">
        <label>Descrição:</label>
        <input type="text" name="texto"> 
    </div>
    <div class="buttons">
        <button type="button">Enviar</button>
    </div>

    <footer>
        <div>
            Todos os direitos reservados
        </div>
    </footer>

</body>
</html>