<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    
    <header>
        <img id="logo" src="/static/img/logo.png" alt="Logo">
        <div>
            <a class="" href="/">Home</a>
            <a class="" href="/sobre">Sobre Nós</a>
            <a class="links" href="/contato">Contato</a> 
        </div>
    </header>

    <div>
        <img id="capa" src="/static/img/capa.png" alt="Capa">
    </div>

    <div class="title">
        <h1>Sobre a Universidade</h1>
            <div class="texts">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab provident culpa exercitationem amet numquam iusto, facere repellendus quasi quidem esse natus eligendi animi velit ea similique rem quam dolor perferendis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, vero quidem? Asperiores, fuga. Amet consequatur exercitationem eum illo consequuntur blanditiis repellat tempore omnis eius? Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci cupiditate reiciendis facere eum tenetur ex corrupti doloribus quidem. Nemo quos quia at quis nulla eum veniam provident facere soluta? 
                <p></p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora inventore voluptatibus amet vel praesentium rem reiciendis, eos nam debitis. Molestias porro magnam voluptatem? Iure omnis repellendus quibusdam molestiae est blanditiis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut officia voluptates modi similique enim. Provident nihil voluptate molestias repudiandae quis ullam maxime nesciunt, cupiditate soluta doloribus labore voluptatem, neque architecto? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, odit laudantium amet, cumque natus reiciendis impedit accusamus nobis deserunt saepe iste enim est dolore, fugit officia error provident? Accusantium, laudantium.
            </div>
    </div>
    <footer>
        <div>
            Todos os direitos reservados
        </div>
    </footer>

</body>
</html>